*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(107, 101, 103);
    margin-top: 200px;
    text-align: center;
}
h1{
    color: white;
    text-align: center;
}
.box{
    margin: 100px 300px;
    padding: 2px;
    text-align: center;
}
#b{
    background-color: rgb(255, 255, 255);
    border-radius: 13px;
    
}